@font-face {
  font-family: "PF DinDisplay Pro";
  src: url("../fonts/PFDinDisplayProPFDinDisplayPro-Black.eot");
  src: local("../fonts/PFDinDisplayProPFDinDisplayPro-Black"), url("../fonts/PFDinDisplayProPFDinDisplayPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinDisplayProPFDinDisplayPro-Black.woff") format("woff"), url("../fonts/PFDinDisplayProPFDinDisplayPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "PF DinDisplay Pro";
  src: url("../fonts/PFDinDisplayProPFDinDisplayPro-Regular.eot");
  src: local("../fonts/PFDinDisplayProPFDinDisplayPro-Regular"), url("../fonts/PFDinDisplayProPFDinDisplayPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinDisplayProPFDinDisplayPro-Regular.woff") format("woff"), url("../fonts/PFDinDisplayProPFDinDisplayPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "PF DinDisplay Pro";
  src: url("../fonts/PFDinDisplayProPFDinDisplayPro-Bold.eot");
  src: local("../fonts/PFDinDisplayProPFDinDisplayPro-Bold"), url("../fonts/PFDinDisplayProPFDinDisplayPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinDisplayProPFDinDisplayPro-Bold.woff") format("woff"), url("../fonts/PFDinDisplayProPFDinDisplayPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
/*----------------------------------------*/
/*  00 - Base - Typography
/*----------------------------------------*/
body {
  font-family: "PF DinDisplay Pro", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PF DinDisplay Pro", sans-serif;
  color: #242424;
  font-weight: 500;
  line-height: 1;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

.img-full {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
}

a,
a:hover,
a:focus,
a:active,
button,
button:focus,
.btn,
.btn:focus,
input,
input:focus,
select,
textarea {
  text-decoration: none;
  outline: 0;
}

button,
.btn {
  cursor: pointer;
  border: 0;
  padding: 0;
  background: transparent;
}

.overflow-hidden {
  overflow: hidden;
}

/*----------------------------------------*/
/*  03 - Utilities - Helper
/*----------------------------------------*/
/* ---Container--- */
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 420px;
  }
}

/* ---Base Transition--- */
a,
button,
i {
  transition: all 0.2s ease-in;
}

@media (max-width: 767px) {
  .header {
    display: none;
  }
}
.header-top_area {
  background: #121212;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.005em;
  color: #ffffff;
  padding: 10px 0;
}
.header-top_area .ht-inner {
  display: flex;
  justify-content: space-between;
}
.header-top_area .ht-inner .ht-signup_login {
  display: flex;
  gap: 0 15px;
}
.header-top_area .ht-inner .ht-signup_login a {
  display: inline-block;
  color: #ffffff;
}
.header-top_area .ht-inner .ht-signup_login a:hover {
  text-decoration: underline;
}
.header-top_area .ht-inner .ht-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 15px;
  cursor: default;
}
.header-top_area .ht-inner .ht-socials_wrapper {
  display: flex;
  gap: 0 12px;
}
.header-top_area .ht-inner .ht-socials_wrapper a {
  background-image: url(../img/icons/socials-sprite.svg);
}
.header-top_area .ht-inner .ht-socials_wrapper a.vk {
  width: 22px;
  height: 14px;
  background-position-x: 0;
}
.header-top_area .ht-inner .ht-socials_wrapper a.telegram {
  width: 16px;
  height: 16px;
  background-position-x: -34px;
}
.header-top_area .ht-inner .ht-socials_wrapper a.inst {
  width: 16px;
  height: 16px;
  background-position-x: -62px;
}
.header-middle_area .hm-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
.header-middle_area .hm-inner .hm--left .logo {
  font-weight: 900;
  font-size: 32px;
  line-height: 32px;
  text-transform: uppercase;
  color: #242526;
}
.header-middle_area .hm-inner .hm--left .logo span {
  color: #2F8F41;
}
.header-middle_area .hm-inner .hm_right a img {
  display: block;
}
@media (max-width: 1199px) {
  .header-middle_area .hm-inner {
    flex-direction: column;
    gap: 33px 0;
    padding-top: 38px;
  }
}
.header-bottom_area {
  background: #f5f5f5;
  border: 1px solid #E5E5E5;
}
.header-bottom_area .hb-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 0;
}
.header-bottom_area .hb-inner .hb-nav .main-menu {
  display: flex;
  justify-content: space-between;
  gap: 0 26px;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.005em;
  text-transform: uppercase;
}
.header-bottom_area .hb-inner .hb-nav .main-menu li a {
  color: #212121;
}
.header-bottom_area .hb-inner .hb-nav .main-menu li a:hover {
  color: #2F8F41;
}
@media (max-width: 1199px) {
  .header-bottom_area .hb-inner .hb-nav .main-menu li:last-child {
    display: none;
  }
}
.header-bottom_area .hb-inner .hb--right {
  display: flex;
  justify-content: space-between;
  gap: 0 8px;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.005em;
}
.header-bottom_area .hb-inner .hb--right a {
  display: block;
  border-radius: 3px;
}
.header-bottom_area .hb-inner .hb--right a.youtube {
  padding: 7px 12px 7px 42px;
  background: #CD201F;
  color: #ffffff;
  position: relative;
}
.header-bottom_area .hb-inner .hb--right a.youtube:before {
  content: "";
  display: block;
  width: 23px;
  height: 16px;
  background-image: url(../img/icons/youtube.svg);
  position: absolute;
  left: 12px;
  top: 8px;
}
.header-bottom_area .hb-inner .hb--right a.youtube:hover {
  background: #bb1f1f;
}
.header-bottom_area .hb-inner .hb--right a.mob-app {
  padding: 6px 12px 5px 38px;
  background: #f5f5f5;
  border: 1px solid #9A9D9F;
  color: #242526;
  position: relative;
}
.header-bottom_area .hb-inner .hb--right a.mob-app:before {
  content: "";
  display: block;
  width: 18px;
  height: 20px;
  background-image: url(../img/icons/google-play.svg);
  position: absolute;
  left: 13px;
  top: 5px;
}
.header-bottom_area .hb-inner .hb--right a.mob-app:hover {
  background: #E5E5E5;
}
@media (max-width: 1199px) {
  .header-bottom_area .hb-inner .hb--right a.mob-app {
    display: none;
  }
}
.header-bottom_area .hb-inner .hb--right .header-search {
  display: block;
  width: 32px;
  height: 32px;
  background: #2F8F41;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
}
.header-bottom_area .hb-inner .hb--right .header-search:before {
  content: "";
  display: block;
  width: 20px;
  height: 21px;
  background-image: url(../img/icons/search.svg);
  position: absolute;
  left: 7px;
  top: 6px;
}
.header-bottom_area .hb-inner .hb--right .header-search:hover {
  background: #267234;
}

.mobile-header {
  display: none;
  padding: 15px 0;
  background: #F5F5F5;
  border-bottom: 1px solid #E5E5E5;
  position: relative;
}
@media (max-width: 767px) {
  .mobile-header {
    display: block;
  }
}
.mobile-header .mh-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mobile-header .mh-inner .mh-logo {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #242526;
}
.mobile-header .mh-inner .mh-right {
  display: flex;
  align-items: center;
  gap: 0 26px;
}
.mobile-header .mh-inner .mh-right .mh-burger {
  display: block;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}
.mobile-header .mh-inner .mh-right .mh-burger a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}
.mobile-header .mh-inner .mh-right .mh-burger a:hover {
  color: tomato;
}
.mobile-header .mh-inner .mh-right .mh-burger input {
  display: block;
  width: 46px;
  height: 35px;
  position: absolute;
  top: -12px;
  left: -14px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}
.mobile-header .mh-inner .mh-right .mh-burger input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-10px, -4px);
  background: #232323;
}
.mobile-header .mh-inner .mh-right .mh-burger input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
.mobile-header .mh-inner .mh-right .mh-burger input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(-10px, 5px);
}
.mobile-header .mh-inner .mh-right .mh-burger input:checked ~ ul {
  transform: none;
}
.mobile-header .mh-inner .mh-right .mh-burger span {
  display: block;
  width: 24px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #9A9D9F;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
.mobile-header .mh-inner .mh-right .mh-burger span:first-child {
  transform-origin: 0% 0%;
}
.mobile-header .mh-inner .mh-right .mh-burger span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
.mobile-header .mh-inner .mh-right .mh-burger span:last-child {
  margin-bottom: 0;
}
.mobile-header .mh-inner .mh-right .mh-search {
  display: block;
  width: 20px;
  height: 20px;
  background: url(../img/icons/mh-search.svg) center no-repeat;
}
.mobile-header .mh-menu {
  position: absolute;
  top: 100%;
  z-index: 2;
  width: 100%;
  max-width: 460px;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
.mobile-header .mh-menu.active {
  transform: translate(0, 0);
}
.mobile-header .mh-menu li {
  padding: 10px 0;
  font-size: 22px;
}

.carousel {
  overflow: hidden;
  position: relative;
}
@media (max-width: 767px) {
  .carousel {
    height: 260px;
  }
}
.carousel_slide {
  padding: 20px 0 30px;
}
.carousel .cs_slide-heading {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  text-align: center;
  color: #DFE4E6;
  margin: 0;
  margin-bottom: 20px;
}
.carousel .cs_slide-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #DFE4E6;
  margin: 0;
}
.carousel .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 10px;
  position: absolute;
  z-index: 1;
  bottom: 0;
  height: 50px;
  width: 100%;
  background: linear-gradient(180deg, rgba(5, 7, 8, 0.319421) 0%, rgba(6, 8, 9, 0.24) 0.01%, #060809 70.31%, #000000 99.92%, #060809 99.93%, rgba(204, 204, 204, 0.686417) 99.94%, rgba(177, 177, 177, 0.729419) 99.95%, #060809 99.96%, rgba(0, 0, 0, 0.533801) 99.97%);
}
.carousel .slick-dots li {
  display: block;
}
.carousel .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 10px;
  height: 10px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.carousel .slick-dots li button:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
}

.category-tab_area {
  background: #f5f5f5;
}
@media (max-width: 1199px) {
  .category-tab_area .container {
    max-width: 100%;
    padding: 0;
  }
}
.category-tab_area .category-tab {
  display: flex;
  justify-content: center;
  gap: 0 15px;
  padding: 15px 0;
  position: relative;
}
@media (max-width: 767px) {
  .category-tab_area .category-tab:after {
    content: "";
    display: block;
    width: 45px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(180deg, #B2B7BA 0%, rgba(196, 196, 196, 0) 100%);
    transform: rotate(90deg);
  }
}
.category-tab_area .category-tab .ct-item {
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: center;
  color: #3F4143;
  padding: 8px 20px;
  background: #E3E4E5;
  border: 1px solid #B2B7BA;
  border-radius: 5px;
}
.category-tab_area .category-tab .ct-item.active {
  opacity: 0.5;
  cursor: default;
}
.category-tab_area .category-tab .ct-item:hover {
  background: rgba(30, 136, 229, 0.1);
  border: 1px solid #1E88E5;
}
.category-tab_area .category-tab .ct-item.wb {
  padding-left: 46px;
  position: relative;
}
.category-tab_area .category-tab .ct-item.wb:before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background-image: url(../img/icons/webmoney.svg);
  position: absolute;
  left: 20px;
  top: 8px;
}
.category-tab_area .category-tab .ct-item.yam {
  padding-left: 46px;
  position: relative;
}
.category-tab_area .category-tab .ct-item.yam:before {
  content: "";
  display: block;
  width: 17px;
  height: 24px;
  background-image: url(../img/icons/yamoney.svg);
  position: absolute;
  left: 20px;
  top: 4px;
}
@media (max-width: 1199px) {
  .category-tab_area .category-tab .ct-item {
    padding: 12px 20px;
    border-radius: 0;
  }
}
@media (max-width: 1199px) {
  .category-tab_area .category-tab {
    padding: 0;
    gap: 0;
    justify-content: flex-start;
  }
}

.main-section {
  padding: 33px 0;
}
@media (max-width: 767px) {
  .main-section {
    padding: 20px 0;
  }
}
.main-section .ms-inner {
  display: flex;
  gap: 0 30px;
}
@media (max-width: 1199px) {
  .main-section .ms-inner {
    flex-direction: column;
    gap: 30px 0;
  }
}
.main-section .ms-inner .feed {
  width: 750px;
}
@media (max-width: 767px) {
  .main-section .ms-inner .feed {
    width: 100%;
  }
}
.main-section .ms-inner .feed-item {
  width: 100%;
  margin-bottom: 30px;
  border: 1px solid #E0E0E0;
}
.main-section .ms-inner .feed-item:last-child {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .main-section .ms-inner .feed-item {
    margin-bottom: 20px;
  }
}
.main-section .ms-inner .feed-item .fi-inner {
  display: flex;
}
.main-section .ms-inner .feed-item .fi-inner .fi-promo {
  width: 230px;
}
@media (max-width: 767px) {
  .main-section .ms-inner .feed-item .fi-inner .fi-promo {
    display: none;
  }
}
.main-section .ms-inner .feed-item .fi-inner .fi-promo .fi-img {
  position: relative;
}
.main-section .ms-inner .feed-item .fi-inner .fi-promo .fi-img:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(6, 8, 9, 0) 75%, #000000 99.92%, #060809 99.93%, rgba(204, 204, 204, 0.686417) 99.94%, rgba(177, 177, 177, 0.729419) 99.95%, #060809 99.96%, rgba(0, 0, 0, 0.533801) 99.97%, #060809 99.98%);
}
.main-section .ms-inner .feed-item .fi-inner .fi-promo .fi-img img {
  display: block;
}
.main-section .ms-inner .feed-item .fi-inner .fi-promo .fi-buttons-area {
  background: #060809;
  padding: 17px 15px 15px;
}
.main-section .ms-inner .feed-item .fi-inner .fi-promo .fi-buttons-area button {
  font-size: 14px;
  font-weight: 700;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  width: 100%;
  border: 1px solid #ffffff;
  border-radius: 3px;
}
.main-section .ms-inner .feed-item .fi-inner .fi-promo .fi-buttons-area button:first-child {
  margin-bottom: 10px;
}
.main-section .ms-inner .feed-item .fi-inner .fi-content {
  width: calc(100% - 230px);
}
@media (max-width: 767px) {
  .main-section .ms-inner .feed-item .fi-inner .fi-content {
    width: 100%;
  }
}
.main-section .ms-inner .feed-item .fi-inner .fi-content .fi-content_top {
  padding: 15px 15px 10px;
  background: #FAFAFA;
  border-bottom: 1px solid #E0E0E0;
}
.main-section .ms-inner .feed-item .fi-inner .fi-content .fi-content_top .fi-label {
  display: inline-block;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  background: #4CAF50;
  padding: 0 15px;
  border-radius: 3px;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .main-section .ms-inner .feed-item .fi-inner .fi-content .fi-content_top .fi-label {
    background: #1E88E5;
    margin-bottom: 15px;
  }
}
@media (max-width: 767px) {
  .main-section .ms-inner .feed-item .fi-inner .fi-content .fi-content_top .fi-heading {
    display: flex;
    align-items: center;
    gap: 0 15px;
  }
}
.main-section .ms-inner .feed-item .fi-inner .fi-content .fi-content_top .fi-heading img {
  display: none;
}
@media (max-width: 767px) {
  .main-section .ms-inner .feed-item .fi-inner .fi-content .fi-content_top .fi-heading img {
    display: block;
  }
}
.main-section .ms-inner .feed-item .fi-inner .fi-content .fi-content_top .fi-heading .fi-header {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #242526;
}
@media (max-width: 767px) {
  .main-section .ms-inner .feed-item .fi-inner .fi-content .fi-content_top .fi-heading .fi-header {
    font-weight: 700;
    text-align: center;
  }
}
.main-section .ms-inner .feed-item .fi-inner .fi-content .fi-content_bottom {
  display: flex;
  gap: 0 15px;
  padding: 11px 16px 16px 16px;
}
@media (max-width: 767px) {
  .main-section .ms-inner .feed-item .fi-inner .fi-content .fi-content_bottom {
    display: block;
  }
}
@media (max-width: 767px) {
  .main-section .ms-inner .feed-item .fi-inner .fi-content .fi-content_bottom .fi-content_column {
    display: flex;
  }
}
.main-section .ms-inner .feed-item .fi-inner .fi-content .fi-content_bottom .fi-content_column .fi-parameter {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #242526;
  margin-bottom: 5px;
}
@media (max-width: 767px) {
  .main-section .ms-inner .feed-item .fi-inner .fi-content .fi-content_bottom .fi-content_column .fi-parameter {
    width: 50%;
  }
}
.main-section .ms-inner .feed-item .fi-inner .fi-content .fi-content_bottom .fi-content_column .fi-parameter .fi-indicator {
  display: block;
  font-weight: 700;
  font-size: 18px;
}
.main-section .ms-inner .feed-item .fi-inner .fi-content .fi-content_bottom .fi-content_column .fi-button {
  display: block;
  font-family: "PF DinDisplay Pro", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: center;
  padding: 4px 12px 5px;
  border-radius: 3px;
  margin-top: 10px;
}
.main-section .ms-inner .feed-item .fi-inner .fi-content .fi-content_bottom .fi-content_column .fi-button.button--blue {
  width: 145px;
  color: #ffffff;
  background: #1E88E5;
  border: 1px solid #1E88E5;
}
@media (max-width: 767px) {
  .main-section .ms-inner .feed-item .fi-inner .fi-content .fi-content_bottom .fi-content_column .fi-button.button--blue {
    display: none;
  }
}
.main-section .ms-inner .feed-item .fi-inner .fi-content .fi-content_bottom .fi-content_column .fi-button.button--tr-bb {
  width: 155px;
  color: #242526;
  background: #ffffff;
  border: 1px solid #1E88E5;
}
@media (max-width: 767px) {
  .main-section .ms-inner .feed-item .fi-inner .fi-content .fi-content_bottom .fi-content_column .fi-button.button--tr-bb {
    display: none;
  }
}
.main-section .ms-inner .feed-item .fi-inner .fi-content .fi-content_bottom .fi-content_column .fi-button.button--red {
  width: 160px;
  color: #ffffff;
  background: #F83030;
  border: 1px solid #F83030;
}
@media (max-width: 767px) {
  .main-section .ms-inner .feed-item .fi-inner .fi-content .fi-content_bottom .fi-content_column .fi-button.button--red {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .main-section .ms-inner .feed-item .fi-inner .fi-content .fi-content_bottom .fi-content_column:last-child .fi-parameter {
    display: none;
  }
}
.main-section .ms-inner .feed-item .fi_bottom {
  border: 1px solid #E0E0E0;
  padding: 7px 15px 11px;
}
.main-section .ms-inner .feed-item .fi_bottom .fi-additionally .fi-add_heading {
  display: inline-block;
  font-size: 16px;
  line-height: 30px;
  color: #242526;
  border-bottom: 1px dashed #2F8F41;
  cursor: pointer;
}
.main-section .ms-inner .feed-item .fi_bottom .fi-additionally .fi-condition {
  display: none;
  margin-top: 15px;
}
.main-section .ms-inner .sidebar {
  width: 360px;
}
@media (max-width: 1199px) {
  .main-section .ms-inner .sidebar {
    width: 100%;
  }
}
.main-section .ms-inner .sidebar .b-widget {
  margin-bottom: 30px;
}
.main-section .ms-inner .sidebar .b-widget .b-widget-top {
  border-bottom: 1px solid #000000;
}
.main-section .ms-inner .sidebar .b-widget .b-widget-top .b-widget-tab {
  display: inline-block;
  font-size: 13px;
  font-weight: 900;
  line-height: 35px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #121212;
  padding: 1px 20px;
}
.main-section .ms-inner .sidebar .b-widget .b-widget-content {
  padding: 20px;
}
.main-section .ms-inner .sidebar .b-widget .b-widget-content .bw-inner {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #E0E0E0;
}
.main-section .ms-inner .sidebar .b-widget .b-widget-content .bw-inner .bw-item {
  display: flex;
  gap: 0 16px;
  margin-bottom: 20px;
}
.main-section .ms-inner .sidebar .b-widget .b-widget-content .bw-inner .bw-item_image {
  display: block;
}
.main-section .ms-inner .sidebar .b-widget .b-widget-content .bw-inner .bw-item_content {
  width: calc(100% - 116px);
}
.main-section .ms-inner .sidebar .b-widget .b-widget-content .bw-inner .bw-item_content .bw-item_top {
  display: flex;
  justify-content: space-between;
}
.main-section .ms-inner .sidebar .b-widget .b-widget-content .bw-inner .bw-item_content .bw-item_top--left .bw-item_heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #242526;
  margin-bottom: 6px;
}
.main-section .ms-inner .sidebar .b-widget .b-widget-content .bw-inner .bw-item_content .bw-item_top--left .bw-item_desc {
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  color: #9A9D9F;
  margin-bottom: 8px;
}
.main-section .ms-inner .sidebar .b-widget .b-widget-content .bw-inner .bw-item_content .bw-item_top--right .bw-item_score {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  background: #FAAB00;
  border-radius: 3px;
  padding: 5px 8px 4px 31px;
  position: relative;
}
.main-section .ms-inner .sidebar .b-widget .b-widget-content .bw-inner .bw-item_content .bw-item_top--right .bw-item_score:before {
  content: "";
  display: block;
  width: 18px;
  height: 17px;
  background-image: url(../img/icons/score.svg);
  position: absolute;
  top: 6px;
  left: 7.7px;
}
.main-section .ms-inner .sidebar .b-widget .b-widget-content .bw-inner .bw-item_content button.bw-item_button {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #2F8F41;
  border: 1px solid #2F8F41;
  border-radius: 3px;
  padding: 6px 12px 5px;
  width: 100%;
}
.main-section .ms-inner .sidebar .b-widget .b-widget-content .bw-inner .bw-item_content button.bw-item_button:hover {
  background: #2a7e39;
}
.main-section .ms-inner .sidebar .b-widget .b-widget-content .bw-inner .bw-item:last-child {
  margin-bottom: 0;
}
.main-section .ms-inner .sidebar .b-widget .b-widget-content .bw-more {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 9px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #242526;
  margin: 0 auto;
}
.main-section .ms-inner .sidebar .b-widget .b-widget-content .bw-more:after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 14px;
  margin-top: 1px;
  background: url(../img/icons/arrow.svg) center no-repeat;
}
.main-section .ms-inner .sidebar .fb-widget {
  margin-bottom: 30px;
}
.main-section .ms-inner .sidebar .fb-widget .fb-widget-top {
  border-bottom: 1px solid #000000;
}
.main-section .ms-inner .sidebar .fb-widget .fb-widget-top .fb-widget-tab {
  display: inline-block;
  font-size: 13px;
  font-weight: 900;
  line-height: 35px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #121212;
  padding: 1px 20px;
}
.main-section .ms-inner .sidebar .fb-widget .fb-widget-content {
  padding: 20px;
}
.main-section .ms-inner .sidebar .fb-widget .fb-widget-content .fbw-inner {
  margin-bottom: 15px;
}
.main-section .ms-inner .sidebar .fb-widget .fb-widget-content .fbw-inner .fbw-item {
  padding: 16px 10px 20px;
  border: 1px solid #E0E0E0;
  margin-bottom: 10px;
}
.main-section .ms-inner .sidebar .fb-widget .fb-widget-content .fbw-inner .fbw-item:last-child {
  margin-bottom: 0;
}
.main-section .ms-inner .sidebar .fb-widget .fb-widget-content .fbw-inner .fbw-item_image {
  display: block;
}
.main-section .ms-inner .sidebar .fb-widget .fb-widget-content .fbw-inner .fbw-item .fbw-item_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}
.main-section .ms-inner .sidebar .fb-widget .fb-widget-content .fbw-inner .fbw-item .fbw-item_top--left .fbw-item_heading {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #242526;
  margin-bottom: 6px;
}
.main-section .ms-inner .sidebar .fb-widget .fb-widget-content .fbw-inner .fbw-item .fbw-item_top--right .fbw-item_score {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  background: #FAAB00;
  border-radius: 3px;
  padding: 5px 8px 4px 31px;
  position: relative;
}
.main-section .ms-inner .sidebar .fb-widget .fb-widget-content .fbw-inner .fbw-item .fbw-item_top--right .fbw-item_score:before {
  content: "";
  display: block;
  width: 18px;
  height: 17px;
  background-image: url(../img/icons/score.svg);
  position: absolute;
  top: 6px;
  left: 7.7px;
}
.main-section .ms-inner .sidebar .fb-widget .fb-widget-content .fbw-inner .fbw-item .fbw-item_middle {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #242526;
  margin-bottom: 14px;
}
.main-section .ms-inner .sidebar .fb-widget .fb-widget-content .fbw-inner .fbw-item .fbw-item_middle a:hover {
  text-decoration: underline;
}
.main-section .ms-inner .sidebar .fb-widget .fb-widget-content .fbw-inner .fbw-item .fbw-item_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-section .ms-inner .sidebar .fb-widget .fb-widget-content .fbw-inner .fbw-item .fbw-item_bottom .fbw-item_author {
  padding-left: 19px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #999999;
  position: relative;
}
.main-section .ms-inner .sidebar .fb-widget .fb-widget-content .fbw-inner .fbw-item .fbw-item_bottom .fbw-item_author:before {
  content: "";
  display: block;
  width: 13px;
  height: 14px;
  background-image: url(../img/icons/author.svg);
  position: absolute;
  left: 0;
  top: 2px;
}
.main-section .ms-inner .sidebar .fb-widget .fb-widget-content .fbw-inner .fbw-item .fbw-item_bottom .fbw-item_date {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #999999;
  padding-left: 19px;
  position: relative;
}
.main-section .ms-inner .sidebar .fb-widget .fb-widget-content .fbw-inner .fbw-item .fbw-item_bottom .fbw-item_date:before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  background-image: url(../img/icons/date.svg);
  position: absolute;
  left: 0;
  top: 2px;
}
.main-section .ms-inner .sidebar .fb-widget .fb-widget-content .fbw-more {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 9px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #242526;
  margin: 0 auto;
}
.main-section .ms-inner .sidebar .fb-widget .fb-widget-content .fbw-more:after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 14px;
  margin-top: 1px;
  background: url(../img/icons/arrow.svg) center no-repeat;
}/*# sourceMappingURL=style.css.map */