// Fonts
@font-face {
    font-family: 'PF DinDisplay Pro';
    src: url('../fonts/PFDinDisplayProPFDinDisplayPro-Black.eot');
    src: local('../fonts/PFDinDisplayProPFDinDisplayPro-Black'),
    url('../fonts/PFDinDisplayProPFDinDisplayPro-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PFDinDisplayProPFDinDisplayPro-Black.woff') format('woff'),
    url('../fonts/PFDinDisplayProPFDinDisplayPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'PF DinDisplay Pro';
    src: url('../fonts/PFDinDisplayProPFDinDisplayPro-Regular.eot');
    src: local('../fonts/PFDinDisplayProPFDinDisplayPro-Regular'),
    url('../fonts/PFDinDisplayProPFDinDisplayPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PFDinDisplayProPFDinDisplayPro-Regular.woff') format('woff'),
    url('../fonts/PFDinDisplayProPFDinDisplayPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PF DinDisplay Pro';
    src: url('../fonts/PFDinDisplayProPFDinDisplayPro-Bold.eot');
    src: local('../fonts/PFDinDisplayProPFDinDisplayPro-Bold'),
    url('../fonts/PFDinDisplayProPFDinDisplayPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PFDinDisplayProPFDinDisplayPro-Bold.woff') format('woff'),
    url('../fonts/PFDinDisplayProPFDinDisplayPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

// @font-face {
//     font-family: 'PF DinDisplay Pro';
//     src: url('../fonts/PFDinDisplayProPFDinDisplayPro-Light.eot');
//     src: local('../fonts/PFDinDisplayProPFDinDisplayPro-Light'),
//     url('../fonts/PFDinDisplayProPFDinDisplayPro-Light.eot?#iefix') format('embedded-opentype'),
//     url('../fonts/PFDinDisplayProPFDinDisplayPro-Light.woff') format('woff'),
//     url('../fonts/PFDinDisplayProPFDinDisplayPro-Light.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'PF DinDisplay Pro';
//     src: url('../fonts/PFDinDisplayProPFDinDisplayPro-Medium.eot');
//     src: local('../fonts/PFDinDisplayProPFDinDisplayPro-Medium'),
//     url('../fonts/PFDinDisplayProPFDinDisplayPro-Medium.eot?#iefix') format('embedded-opentype'),
//     url('../fonts/PFDinDisplayProPFDinDisplayPro-Medium.woff') format('woff'),
//     url('../fonts/PFDinDisplayProPFDinDisplayPro-Medium.ttf') format('truetype');
//     font-weight: bold;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'PF DinDisplay Pro';
//     src: url('../fonts/PFDinDisplayProPFDinDisplayPro-BoldItalic.eot');
//     src: local('../fonts/PFDinDisplayProPFDinDisplayPro-BoldItalic'),
//     url('../fonts/PFDinDisplayProPFDinDisplayPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
//     url('../fonts/PFDinDisplayProPFDinDisplayPro-BoldItalic.woff') format('woff'),
//     url('../fonts/PFDinDisplayProPFDinDisplayPro-BoldItalic.ttf') format('truetype');
//     font-weight: bold;
//     font-style: italic;
// }

// @font-face {
//     font-family: 'PF DinDisplay Pro';
//     src: url('../fonts/PFDinDisplayProPFDinDisplayPro-BlackItalic.eot');
//     src: local('../fonts/PFDinDisplayProPFDinDisplayPro-BlackItalic'),
//     url('../fonts/PFDinDisplayProPFDinDisplayPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
//     url('../fonts/PFDinDisplayProPFDinDisplayPro-BlackItalic.woff') format('woff'),
//     url('../fonts/PFDinDisplayProPFDinDisplayPro-BlackItalic.ttf') format('truetype');
//     font-weight: 900;
//     font-style: italic;
// }

// @font-face {
//     font-family: 'PF DinDisplay Pro';
//     src: url('../fonts/PFDinDisplayProPFDinDisplayPro-Thin.eot');
//     src: local('../fonts/PFDinDisplayProPFDinDisplayPro-Thin'),
//     url('../fonts/PFDinDisplayProPFDinDisplayPro-Thin.eot?#iefix') format('embedded-opentype'),
//     url('../fonts/PFDinDisplayProPFDinDisplayPro-Thin.woff') format('woff'),
//     url('../fonts/PFDinDisplayProPFDinDisplayPro-Thin.ttf') format('truetype');
//     font-weight: 100;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'PF DinDisplay Pro';
//     src: url('../fonts/PFDinDisplayProPFDinDisplayPro-ThinItalic.eot');
//     src: local('../fonts/PFDinDisplayProPFDinDisplayPro-ThinItalic'),
//     url('../fonts/PFDinDisplayProPFDinDisplayPro-ThinItalic.eot?#iefix') format('embedded-opentype'),
//     url('../fonts/PFDinDisplayProPFDinDisplayPro-ThinItalic.woff') format('woff'),
//     url('../fonts/PFDinDisplayProPFDinDisplayPro-ThinItalic.ttf') format('truetype');
//     font-weight: 100;
//     font-style: italic;
// }

// @font-face {
//     font-family: 'PF DinDisplay Pro';
//     src: url('../fonts/PFDinDisplayProPFDinDisplayPro-Italic.eot');
//     src: local('../fonts/PFDinDisplayProPFDinDisplayPro-Italic'),
//     url('../fonts/PFDinDisplayProPFDinDisplayPro-Italic.eot?#iefix') format('embedded-opentype'),
//     url('../fonts/PFDinDisplayProPFDinDisplayPro-Italic.woff') format('woff'),
//     url('../fonts/PFDinDisplayProPFDinDisplayPro-Italic.ttf') format('truetype');
//     font-weight: normal;
//     font-style: italic;
// }

// @font-face {
//     font-family: 'PF DinDisplay Pro';
//     src: url('../fonts/PFDinDisplayProPFDinDisplayPro-MediumItalic.eot');
//     src: local('../fonts/PFDinDisplayProPFDinDisplayPro-MediumItalic'),
//     url('../fonts/PFDinDisplayProPFDinDisplayPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
//     url('../fonts/PFDinDisplayProPFDinDisplayPro-MediumItalic.woff') format('woff'),
//     url('../fonts/PFDinDisplayProPFDinDisplayPro-MediumItalic.ttf') format('truetype');
//     font-weight: bold;
//     font-style: italic;
// }

// @font-face {
//     font-family: 'PF DinDisplay Pro';
//     src: url('../fonts/PFDinDisplayProPFDinDisplayPro-LightItalic.eot');
//     src: local('../fonts/PFDinDisplayProPFDinDisplayPro-LightItalic'),
//     url('../fonts/PFDinDisplayProPFDinDisplayPro-LightItalic.eot?#iefix') format('embedded-opentype'),
//     url('../fonts/PFDinDisplayProPFDinDisplayPro-LightItalic.woff') format('woff'),
//     url('../fonts/PFDinDisplayProPFDinDisplayPro-LightItalic.ttf') format('truetype');
//     font-weight: normal;
//     font-style: italic;
// }

//Base
@import 'base/mixins';
@import 'base/variables';
@import 'base/typography';

// Utilities
@import 'utilities/helper';

// Sections
@import 'sections/header';
@import 'sections/carousel';
@import 'sections/category-tab';
@import 'sections/main-section';