// Carousel

.carousel{
  overflow: hidden;
  position: relative;
  @include breakpoint(max-sm_device){
    height: 260px;
  }
  &_slide{
    padding: 20px 0 30px;
  }
  .cs_slide-heading{
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    text-align: center;
    color: $primary-color-2;
    margin: 0;
    margin-bottom: 20px;
  }
  .cs_slide-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: $primary-color-2;
    margin: 0;
  }
  .slick-dots{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 10px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    height: 50px;
    width: 100%;
    background: linear-gradient(180deg, rgba(5, 7, 8, 0.319421) 0%, rgba(6, 8, 9, 0.24) 0.01%, #060809 70.31%, #000000 99.92%, #060809 99.93%, rgba(204, 204, 204, 0.686417) 99.94%, rgba(177, 177, 177, 0.729419) 99.95%, #060809 99.96%, rgba(0, 0, 0, 0.533801) 99.97%);
    li{
      display: block;
      button{
        font-size: 0;
        line-height: 0;
        display: block;
        width: 10px;
        height: 10px;
        cursor: pointer;
        color: transparent;
        border: 0;
        outline: none;
        background: transparent;
        &:before{
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          background-color: #fff;
        }
      }
    }
  }
}