.category-tab_area{
  background: $white-smoke_color;
  .container{
    @include breakpoint(max-lg_device){
      max-width: 100%;
      padding: 0;
    }
  }
  .category-tab{
    display: flex;
    justify-content: center;
    gap: 0 15px;
    padding: 15px 0;
    position: relative;
    &:after{
      @include breakpoint(max-sm_device){
        content: '';
        display: block;
        width: 45px;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        background: linear-gradient(180deg, #B2B7BA 0%, rgba(196, 196, 196, 0) 100%);
        transform: rotate(90deg);
      }
    }
    .ct-item{
      display: block;
      font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        text-align: center;
        color: #3F4143;
      padding: 8px 20px;
      background: #E3E4E5;
      border: 1px solid #B2B7BA;
      border-radius: 5px;
      &.active{
        opacity: 0.5;
        cursor: default;
      }
      &:hover{
        background: rgba(30, 136, 229, 0.1);
        border: 1px solid #1E88E5;
      }
      &.wb{
        padding-left: 46px;
        position: relative;
        &:before{
          content: '';
          display: block;
          width: 18px;
          height: 18px;
          background-image: url(../img/icons/webmoney.svg);
          position: absolute;
          left: 20px;
          top: 8px;
        }
      }
      &.yam{
        padding-left: 46px;
        position: relative;
        &:before{
          content: '';
          display: block;
          width: 17px;
          height: 24px;
          background-image: url(../img/icons/yamoney.svg);
          position: absolute;
          left: 20px;
          top: 4px;
        }
      }
      @include breakpoint(max-lg_device){
        padding: 12px 20px;
        border-radius: 0;
      }
    }
    @include breakpoint(max-lg_device){
      padding: 0;
      gap: 0;
      justify-content: flex-start;
    }
  }
}