// Header

.header{
  @include breakpoint(max-sm_device){
    display: none;
  }
  &-top_area{
    background: $primary-color;
    font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0.005em;
      color: $white-color;
    padding: 10px 0;
    .ht-inner{
      display: flex;
      justify-content: space-between;
      .ht-signup_login{
        display: flex;
        gap: 0 15px;
        a{
          display: inline-block;
          color: $white-color;
          &:hover{
            text-decoration: underline;
          }
        }
      }
      .ht-socials{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 15px;
        cursor: default;
        &_wrapper{
          display: flex;
          gap: 0 12px;
          a{
            background-image: url(../img/icons/socials-sprite.svg);
            &.vk{
              width: 22px;
              height: 14px;
              background-position-x: 0;
            }
            &.telegram{
              width: 16px;
              height: 16px;
              background-position-x: -34px;
            }
            &.inst{
              width: 16px;
              height: 16px;
              background-position-x: -62px;
            }
          }
        }
      }
    }
  }
  &-middle_area{
    .hm-inner{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 0;
      .hm--left{
        .logo{
          font-weight: 900;
          font-size: 32px;
          line-height: 32px;
          text-transform: uppercase;
          color: $primary-color-3;
          span{
            color: $primary-color-4;
          }
        }
      }
      .hm_right{
        a{
          img{
            display: block;
          }
        }
      }
      @include breakpoint(max-lg_device){
        flex-direction: column;
        gap: 33px 0;
        padding-top: 38px;
      }
    }
  }
  &-bottom_area{
    background: $white-smoke_color;
    border: 1px solid $white-smoke_color-2;
    .hb-inner{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 6px 0;
      .hb-nav{
        .main-menu{
          display: flex;
          justify-content: space-between;
          gap: 0 26px;
          font-size: 15px;
            font-weight: 700;
            line-height: 18px;
            letter-spacing: 0.005em;
            text-transform: uppercase;
          li{
            a{
              color: $primary-color-5;
              &:hover{
                color: $primary-color-4;
              }
            }
            &:last-child{
              @include breakpoint(max-lg_device){
                display: none;
              }
            }
          }
        }
      }
      .hb--right{
        display: flex;
        justify-content: space-between;
        gap: 0 8px;
        font-size: 15px;
          font-weight: 700;
          line-height: 18px;
          letter-spacing: 0.005em;
        a{
          display: block;
          border-radius: 3px;
          &.youtube{
            padding: 7px 12px 7px 42px;
            background: $primary-color-6;
            color: $white-color;
            position: relative;
            &:before{
              content: '';
              display: block;
              width: 23px;
              height: 16px;
              background-image: url(../img/icons/youtube.svg);
              position: absolute;
              left: 12px;
              top: 8px;
            }
            &:hover{
              background: $primary-color-7;
            }
          }
          &.mob-app{
            padding: 6px 12px 5px 38px;
            background: $white-smoke_color;
            border: 1px solid $silver-color;
            color: $primary-color-3;
            position: relative;
            &:before{
              content: '';
              display: block;
              width: 18px;
              height: 20px;
              background-image: url(../img/icons/google-play.svg);
              position: absolute;
              left: 13px;
              top: 5px;
            }
            &:hover{
              background: $white-smoke_color-2;
            }
            @include breakpoint(max-lg_device){
              display: none;
            }
          }
        }
        .header-search{
          display: block;
          width: 32px;
          height: 32px;
          background: $primary-color-4;
          border-radius: 3px;
          position: relative;
          cursor: pointer;
          &:before{
            content: '';
            display: block;
            width: 20px;
            height: 21px;
            background-image: url(../img/icons/search.svg);
            position: absolute;
            left: 7px;
            top: 6px;
          }
          &:hover{
            background: $primary-color-8;
          }
        }
      }
    }
  }
}
.mobile-header{
  display: none;
  padding: 15px 0;
  background: #F5F5F5;
  border-bottom: 1px solid #E5E5E5;
  position: relative;
  @include breakpoint(max-sm_device){
    display: block;
  }
  .mh-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .mh-logo{
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      text-transform: uppercase;
      color: #242526;
    }
    .mh-right{
      display: flex;
      align-items: center;
      gap: 0 26px;
      .mh-burger{
        display: block;
        position: relative;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
        a{
          text-decoration: none;
          color: #232323;
          transition: color 0.3s ease;
          &:hover{
            color: tomato;
          }
        }
        input{
          display: block;
          width: 46px;
          height: 35px;
          position: absolute;
          top: -12px;
          left: -14px;
          cursor: pointer;
          opacity: 0;
          z-index: 2;
          &:checked ~ span{
            opacity: 1;
            transform: rotate(45deg) translate(-10px, -4px);
            background: #232323;
          }
          &:checked ~ span:nth-last-child(3){
            opacity: 0;
            transform: rotate(0deg) scale(0.2, 0.2);
          }
          &:checked ~ span:nth-last-child(2){
            transform: rotate(-45deg) translate(-10px, 5px);
          }
          &:checked ~ ul{
            transform: none;
          }
        }
        span{
          display: block;
          width: 24px;
          height: 2px;
          margin-bottom: 5px;
          position: relative;
          background: #9A9D9F;
          border-radius: 3px;
          z-index: 1;
          transform-origin: 4px 0px;
          transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                      background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                      opacity 0.55s ease;
          &:first-child {
            transform-origin: 0% 0%;
          }
          &:nth-last-child(2){
            transform-origin: 0% 100%;
          }
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
      .mh-search{
        display: block;
        width: 20px;
        height: 20px;
        background: url(../img/icons/mh-search.svg) center no-repeat;
      }
    }
  }
  .mh-menu{
    position: absolute;
    top: 100%;
    z-index: 2;
    width: 100%;
    max-width: 460px;
    padding: 50px;
    padding-top: 125px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    &.active{
      transform: translate(0, 0);
    }
    li{
      padding: 10px 0;
      font-size: 22px;
    }
  }
}