// Main section

.main-section{
  padding: 33px 0;
  @include breakpoint(max-sm_device){
    padding: 20px 0;
  }
  .ms-inner{
    display: flex;
    gap: 0 30px;
    @include breakpoint(max-lg_device){
      flex-direction: column;
      gap: 30px 0;
    }
    .feed{
      width: 750px;
      @include breakpoint(max-sm_device){
        width: 100%;
      }
      &-item{
        width: 100%;
        margin-bottom: 30px;
        border: 1px solid $white-smoke_color-3;
        &:last-child{
          margin-bottom: 0;
        }
        @include breakpoint(max-sm_device){
          margin-bottom: 20px;
        }
        .fi-inner{
          display: flex;
          .fi-promo{
            width: 230px;
            @include breakpoint(max-sm_device){
              display: none;
            }
            .fi-img{
              position: relative;
              &:before{
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: linear-gradient(180deg, rgba(6, 8, 9, 0) 75%, #000000 99.92%, #060809 99.93%, rgba(204, 204, 204, 0.686417) 99.94%, rgba(177, 177, 177, 0.729419) 99.95%, #060809 99.96%, rgba(0, 0, 0, 0.533801) 99.97%, #060809 99.98%);
              }
              img{
                display: block;
              }
            }
            .fi-buttons-area{
              background: #060809;
              padding: 17px 15px 15px;
              button{
                font-size: 14px;
                  font-weight: 700;
                  line-height: 23px;
                  text-align: center;
                  color: $white-color;
                width: 100%;
                border: 1px solid $white-color;
                border-radius: 3px;
                &:first-child{
                  margin-bottom: 10px;
                }
              }
            }
          }
          .fi-content{
            width: calc(100% - 230px);
            @include breakpoint(max-sm_device){
              width: 100%;
            }
            .fi-content_top{
              padding: 15px 15px 10px;
              background: $white-color-2;
              border-bottom: 1px solid $white-smoke_color-3;
              .fi-label{
                display: inline-block;
                font-size: 14px;
                line-height: 25px;
                text-align: center;
                color: $white-color;
                background: $primary-color-9;
                padding: 0 15px;
                border-radius: 3px;
                margin-bottom: 10px;
                @include breakpoint(max-sm_device){
                  background: #1E88E5;
                  margin-bottom: 15px;
                }
              }
              .fi-heading{
                @include breakpoint(max-sm_device){
                  display: flex;
                  align-items: center;
                  gap: 0 15px;
                }
                img{
                  display: none;
                  @include breakpoint(max-sm_device){
                    display: block;
                  }
                }
                .fi-header{
                  font-weight: 400;
                  font-size: 18px;
                  line-height: 22px;
                  color: #242526;
                  @include breakpoint(max-sm_device){
                    font-weight: 700;
                    text-align: center;
                  }
                }
              }
            }
            .fi-content_bottom{
              display: flex;
              gap: 0 15px;
              padding: 11px 16px 16px 16px;
              @include breakpoint(max-sm_device){
                display: block;
              }
              .fi-content_column{
                @include breakpoint(max-sm_device){
                  display: flex;
                }
                .fi-parameter{
                  font-weight: 400;
                    font-size: 14px;
                    line-height: 24px;
                    color: #242526;
                  margin-bottom: 5px;
                  @include breakpoint(max-sm_device){
                    width: 50%;
                  }
                  .fi-indicator{
                    display: block;
                    font-weight: 700;
                    font-size: 18px;
                  }
                }
                .fi-button{
                  display: block;
                  font-family: 'PF DinDisplay Pro', sans-serif;
                  font-size: 16px;
                    font-weight: 700;
                    line-height: 19px;
                    text-align: center;
                  padding: 4px 12px 5px;
                  border-radius: 3px;
                  margin-top: 10px;
                  &.button--blue{
                    width: 145px;
                    color: $white-color;
                    background: $primary-color-10;
                    border: 1px solid $primary-color-10;
                    @include breakpoint(max-sm_device){
                      display: none;
                    }
                  }
                  &.button--tr-bb{
                    width: 155px;
                    color: $primary-color-3;
                    background: $white-color;
                    border: 1px solid $primary-color-10;
                    @include breakpoint(max-sm_device){
                      display: none;
                    }
                  }
                  &.button--red{
                    width: 160px;
                    color: $white-color;
                    background: $primary-color-11;
                    border: 1px solid $primary-color-11;
                    @include breakpoint(max-sm_device){
                      width: 100%;
                    }
                  }
                }
                &:last-child .fi-parameter{
                  @include breakpoint(max-sm_device){
                    display: none;
                  }
                }
              }
            }
          }
        }
        .fi_bottom{
          border: 1px solid $white-smoke_color-3;
          padding: 7px 15px 11px;
          .fi-additionally{
            .fi-add_heading{
              display: inline-block;
              font-size: 16px;
              line-height: 30px;
              color: #242526;
              border-bottom: 1px dashed #2F8F41;
              cursor: pointer;
            }
            .fi-condition{
              display: none;
              margin-top: 15px;
            }
          }
        }
      }
    }
    .sidebar{
      width: 360px;
      @include breakpoint(max-lg_device){
        width: 100%
      }
      .b-widget{
        margin-bottom: 30px;
        .b-widget-top{
          border-bottom: 1px solid #000000;
          .b-widget-tab{
            display: inline-block;
            font-size: 13px;
              font-weight: 900;
              line-height: 35px;
              text-transform: uppercase;
              color: #FFFFFF;
            background: #121212;
            padding: 1px 20px;
          }
        }
        .b-widget-content{
          padding: 20px;
          .bw-inner{
            padding-bottom: 15px;
            margin-bottom: 15px;
            border-bottom: 1px solid #E0E0E0;
            .bw-item{
              display: flex;
              gap: 0 16px;
              margin-bottom: 20px;
              &_image{
                display: block;
              }
              &_content{
                width: calc(100% - 116px);
                .bw-item_top{
                  display: flex;
                  justify-content: space-between;
                  &--left{
                    .bw-item_heading{
                      font-weight: 700;
                      font-size: 18px;
                      line-height: 18px;
                      color: #242526;
                      margin-bottom: 6px;
                    }
                    .bw-item_desc{
                      font-weight: 400;
                      font-size: 15px;
                      line-height: 15px;
                      color: #9A9D9F;
                      margin-bottom: 8px;
                    }
                  }
                  &--right{
                    .bw-item_score{
                      font-weight: 700;
                      font-size: 18px;
                      line-height: 21px;
                      text-align: center;
                      color: #FFFFFF;
                      background: #FAAB00;
                      border-radius: 3px;
                      padding: 5px 8px 4px 31px;
                      position: relative;
                      &:before{
                        content: '';
                        display: block;
                        width: 18px;
                        height: 17px;
                        background-image: url(../img/icons/score.svg);
                        position: absolute;
                        top: 6px;
                        left: 7.7px;
                      }
                    }
                  }
                }
                button.bw-item_button{
                  display: block;
                  font-weight: 700;
                  font-size: 16px;
                  line-height: 19px;
                  text-align: center;
                  text-transform: uppercase;
                  color: #FFFFFF;
                  background: #2F8F41;
                  border: 1px solid #2F8F41;
                  border-radius: 3px;
                  padding: 6px 12px 5px;
                  width: 100%;
                  &:hover{
                    background: #2a7e39;
                  }
                }
              }
              &:last-child{
                margin-bottom: 0;
              }
            }
          }
          .bw-more{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0 9px;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            color: #242526;
            margin: 0 auto;
            &:after{
              content: "";
              display: inline-block;
              width: 9px;
              height: 14px;
              margin-top: 1px;
              background: url(../img/icons/arrow.svg) center no-repeat;
            }
          }
        }
      }
      .fb-widget{
        margin-bottom: 30px;
        .fb-widget-top{
          border-bottom: 1px solid #000000;
          .fb-widget-tab{
            display: inline-block;
            font-size: 13px;
              font-weight: 900;
              line-height: 35px;
              text-transform: uppercase;
              color: #FFFFFF;
            background: #121212;
            padding: 1px 20px;
          }
        }
        .fb-widget-content{
          padding: 20px;
          .fbw-inner{
            margin-bottom: 15px;
            .fbw-item{
              padding: 16px 10px 20px;
              border: 1px solid #E0E0E0;
              margin-bottom: 10px;
              &:last-child{
                margin-bottom: 0;
              }
              &_image{
                display: block;
              }
              .fbw-item_top{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 12px;
                &--left{
                  .fbw-item_heading{
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 18px;
                    color: #242526;
                    margin-bottom: 6px;
                  }
                }
                &--right{
                  .fbw-item_score{
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 21px;
                    text-align: center;
                    color: #FFFFFF;
                    background: #FAAB00;
                    border-radius: 3px;
                    padding: 5px 8px 4px 31px;
                    position: relative;
                    &:before{
                      content: '';
                      display: block;
                      width: 18px;
                      height: 17px;
                      background-image: url(../img/icons/score.svg);
                      position: absolute;
                      top: 6px;
                      left: 7.7px;
                    }
                  }
                }
              }
              .fbw-item_middle{
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #242526;
                margin-bottom: 14px;
                a:hover{
                  text-decoration: underline;
                }
              }
              .fbw-item_bottom{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .fbw-item_author{
                  padding-left: 19px;
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 18px;
                  color: #999999;
                  position: relative;
                  &:before{
                    content: '';
                    display: block;
                    width: 13px;
                    height: 14px;
                    background-image: url(../img/icons/author.svg);
                    position: absolute;
                    left: 0;
                    top: 2px;
                  }
                }
                .fbw-item_date{
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 18px;
                  color: #999999;
                  padding-left: 19px;
                  position: relative;
                  &:before{
                    content: '';
                    display: block;
                    width: 14px;
                    height: 14px;
                    background-image: url(../img/icons/date.svg);
                    position: absolute;
                    left: 0;
                    top: 2px;
                  }
                }
              }
            }
          }
          .fbw-more{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0 9px;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            color: #242526;
            margin: 0 auto;
            &:after{
              content: "";
              display: inline-block;
              width: 9px;
              height: 14px;
              margin-top: 1px;
              background: url(../img/icons/arrow.svg) center no-repeat;
            }
          }
        }
      }
    }
  }
}