/*----------------------------------------*/
/*  03 - Utilities - Helper
/*----------------------------------------*/

/* ---Container--- */
.container{
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	box-sizing: border-box;
	@include breakpoint(min-xl_device){
		max-width: 1140px;
	}
	@include breakpoint(lg-device){
		max-width: 750px;
	}
	@include breakpoint(max-sm_device){
		max-width: 420px;
	}
}

/* ---Base Transition--- */
%basetransition {
	@include transition(all .2s ease-in);
}