//--- All Variables - Related Stuff Included In This Area ---↓
// Color
$primary-color:     #121212;
$primary-color-2:   #DFE4E6;
$primary-color-3:   #242526;
$primary-color-4:   #2F8F41;
$primary-color-5:   #212121;
$primary-color-6:   #CD201F;
$primary-color-7:   #bb1f1f;
$primary-color-8:   #267234;
$primary-color-9:   #4CAF50;
$primary-color-10:  #1E88E5;
$primary-color-11:  #F83030;
$text-color:        #242424;
$border-color:      #e5e5e5;

// Additional Color Variable
$white-color:         #ffffff;
$white-color-2:       #FAFAFA;
$white-smoke_color:   #f5f5f5;
$white-smoke_color-2: #E5E5E5;
$white-smoke_color-3: #E0E0E0;
$silver-color:        #9A9D9F;

// Slider Color Swatches
$burnt-orange_color:#ff832b;
$raw-umber_color:   #824900;
$black-color:       #000000;
$brown-color:       #a6311f;
$red-color:         #ff0000;

//----Social Link Color Variables ----↓
$facebook-color:    #3b579d;
$twitter-color:     #3acaff;
$google-plus-color: #dd4b39;
$linkedin-color:    #0097bd;
$pinterest-color:   #cb2027;
$instagram-color:   #833ab4;
$skype-color:       #00aff0;
$share-color:       #fe6d4c;
$youtube-color:     #d72525;

// Template Color Variation ----↓
$color-1: $primary-color;
$color-2: $primary-color-2;
$color-3: $primary-color-3;
$color-4: $primary-color-4;
$color-5: $primary-color-5;
$color-6: $primary-color-6;
$color-7: $primary-color-7;
$color-8: $primary-color-8;
$color-9: $primary-color-9;
$color-10: $primary-color-10;
$colorList: $color-1, $color-2, $color-3, $color-4, $color-5, $color-6, $color-7, $color-8, $color-9, $color-10;
